@font-face {
	font-family: 'TitlingGothicFB Normal';
	src: url('/fonts/TitlingGothicFBNormal-Bold.eot');
	src: url('/fonts/TitlingGothicFBNormal-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/TitlingGothicFBNormal-Bold.woff') format('woff'),
		url('/fonts/TitlingGothicFBNormal-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'TitlingGothicFB Normal';
	src: url('/fonts/TitlingGothicFBNormal-Regular.eot');
	src: url('/fonts/TitlingGothicFBNormal-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/TitlingGothicFBNormal-Regular.woff') format('woff'),
		url('/fonts/TitlingGothicFBNormal-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


body {
  font-family: 'TitlingGothicFB Normal', Georgia;
}
